<!--<div class="bootstrap-wrapper">

    <div class="container">
       
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Welcome to Exam Hall</h1>
                <a [routerLink]="'/signup'"  mat-raised-button color="primary">Start Exam</a>
            </div>
        </div>

       
    </div> 
</div>  -->



               
 
  

<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
      <img src="../../../assets/ajeenkya-dy-patil-university-adypu-pune.jpg" alt="">
  </ng-template>  
  
  <ng-template carouselSlide>
      <img src="../../../assets/adypu_banner1.jpg" alt="">
  </ng-template>  
  <ng-template carouselSlide>
      
    <img src="../../../assets/full image.png" alt="">
  </ng-template>  
   <ng-template carouselSlide>
    <img src="../../../assets/adypu.jpg" alt="">
  </ng-template>  
</owl-carousel-o>


<app-footer></app-footer>
    




<!--<img  src="../../../assets/ajeenkya-dy-patil-university-adypu-pune.jpg"  alt=""> -->
